* {
    box-sizing: border-box;
    &::before,
    &::after {
        box-sizing: inherit;
    }
}

html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
    bottom: 0;
    font-family: sans-serif;
    font-size: 14px;
    left: 0;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a,
div {
  color: inherit;
  font-size: inherit;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
}
