$color-main: #fff;
$color-secondary: #000;
$button-bg-color: $color-main;
$button-color: $color-secondary;
$button-bg-color-hover: #ccc;
$button-color-active: $color-main;
$button-close-bg-color: palevioletred;
$button-close-border-color: red;
$button-close-bg-color-hover: pink;
$button-close-border-color-active: brown;
$panel-border-color: gray;
$panel-bg-color: lightgrey;
$cell-select-color: blue;
$cell-hover-color: #ececec;
$resizer-bg-color: darkgrey;
$resizer-divider-color: #333;
